main {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

#main-regs {
    display: grid;
    grid-template-columns: repeat(3, 30px);
}

main input {
    width: 25px;
    margin: 0 auto;
}

header {
    display: flex;
}

#history {
    margin-left: 20px;
    overflow: auto;
    height: 100px;
    width: 100%;
}

#history li {
    list-style-type: none;
}

#operation-btn {
    grid-column: 1 / 4; 
}

#regs-btns {
    display: none;
}

.choose-regs {
    display: grid;
    grid-template-rows: 25px 25px;
}

.choose-regs-one {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    text-align: center;
    margin: 0 auto;
}

.choose-regs-two {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    text-align: center;
    margin: 0 auto;
}