main {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

main input {
    width: 25px;
    margin: 0 auto;
}

#operation-btn {
    grid-column: 1 / 4; 
}